
#wrapper {
    display: grid;
    width: 100vw;
    grid-template-areas:
    'hd hd'
    'mn mn'
    'ft ft';
}

header {
    grid-area: hd;
    background-color:#3F9049;
    height: auto;
    padding: 1rem;
}

main {
    grid-area: mn;
    border: solid 5px black;
    height: 40rem;
    padding: 1rem;
}

footer {
    grid-area: ft;
    border: solid 5px black;
    height: 4rem;
}

#logga {
    height: 3rem;
}

#nyheter {
    height: 8rem;
}

h1 {
    font-size: 1rem;
    padding: 1rem;
}

h2 {
    font-size: 1rem;
}

nav.active {
    display: block;
}

@media only screen and (max-width:600px) {body
    { background-color: #ffffff;
        }

    header{
        position: relative;
        height: auto;
    }

    #hamburger {
       
        height: 1.5rem;
        width: 2.2rem;
        position: absolute;
        top: 0.7rem;
        right: 0.7rem;
    }

.menyn {
        display: none;
    }

    #hamburger div{
        border:#000 2px solid;
        margin: 0.3rem
    }
}

@media only screen and (min-width:600px) {body
    { background-color: #ffffff;
        }

    header{
        position: relative;
        height: auto;
        display: flex;
    }


    .menyn {
        display: flex;
        align-content: flex-end;
        list-style-type: none;
    }

    ul {
        display: flex;
    }
    
    nav ul li {
        margin-left: 3rem;
    }
}